  .swiperbox{
    // margin-top: 10vh;
    // margin-left: 5vw;
    height: 650px;
    width:55vw;
    border-radius: 35px;
    padding: 20px 20px;
    position: absolute;
    top: 860px;
    right: 10vw;
    box-shadow: 0 0 5px 0 #fff;
    // background: -webkit-linear-gradient(bottom,rgb(124, 124, 172),rgb(255, 255, 255));
    .swiper{
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 5vh;
    }
  }
  .swiperText{
    position: absolute;
    height: 500px;
    font-size: 6vw;
    left: -20vw;
    top: 110px;
    font-family: SimHei;
    text{
      fill:none;
      stroke:url(#geekColor);
      stroke-width:1;
      stroke-dasharray: 10 800;
      stroke-dashoffset: 10;
      animation: drawing 5s linear infinite;
      @keyframes drawing{
        to{
          stroke-dasharray: 800;
          stroke-dashoffset: 0;
        }
      }
    }
  }
@media screen and (max-width:1100px) {
  .swiperbox{
    width:80vw;
  }
  .swiperText{
    display:none;
  }
}