.navbg{
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 20px 2vw 10px 2vw;
  align-items: center;
  img{
    height: 5vw;
  }
  .navtitle{
    color: #fff;
    font-size:2.5vw;
    font-family: "LiSu";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px
    // line-height:12vh;
  }
  .navbox{
    font-family: "SimSun";
    width: 75vw;
    color: #fff;
    display: flex;
    li{
      flex: 1;
      font-size:18px;
      height: 45px;
      // background-color: #fff;
      line-height: 45px;
      margin-right: 40px;
      position: relative;
      overflow: hidden;
      user-select: none;
      &:hover{
        border-radius: 5px;
        color: #000;
        background-color: #03e9f4;
        box-shadow: 0 0 5px 0 #03e9f4,
        0 0 25px 0 #03e9f4,
        0 0 50px 0 #03e9f4,
        0 0 100px 0 #03e9f4
      }
      span{
        position: absolute;
      }
    } 
  }
}
@media screen and (max-width:1100px) {
  .navbg{
    padding: 20px 2vw 10px 0;
    img{
      height: 6vw;
    }
    .navtitle{
      font-size:2.9vw;
    }
  }
  .navbox{
    li{
      &:nth-child(5){
        display: none;
      }
    }
  }
}
@media screen and (max-width:700px) {
  
  .navbg{
    padding: 20px 2vw 10px 0;
    img{
      height: 8vw;
    }
    .navtitle{
      font-size:3.2vw;
    }
    .navbox{
      li{
        margin-left: -20px;
        &:nth-child(1){
          margin-left: 0;
        }
        &:nth-child(2){
          display: none;
        }
        
      }
    }
  }

}