.star{
      li{
        width: 2px;
        height:20vh;
        background: -webkit-linear-gradient(top,transparent,#fff);
        position:absolute;
        transform:rotate(45deg);
        
      }
      li:nth-child(1){
        animation: star1 10s linear infinite;
      }
      @keyframes star1{
        0%{
          top:-20vh;
          left:60vw
        }
        100%{
          top:300vh;
          left:-100vw
        }
      }
      li:nth-child(2){
        animation: star2 5s linear infinite;
      }
      @keyframes star2{
        0%{
          top:10vh;
          left:80vw
        }
        100%{
          top:300vh;
          left:-80vw
        }
      }
      li:nth-child(3){
        animation: star3 8s linear infinite;
      }
      @keyframes star3{
        0%{
          top:0vh;
          right:10vw;
        }
        100%{
          top:250vh;
          right:150vw
        }
      }
      li:nth-child(4){
        animation: star4 6s linear infinite;
      }
      @keyframes star4{
        0%{
          top:20vh;
          right:-10vw;
        }
        100%{
          top:250vh;
          right:100vw
        }
      }
      li:nth-child(5){
        animation: star5 4s linear infinite;
      }
      @keyframes star5{
        0%{
          top:100vh;
          right:0vw;
        }
        100%{
          top:250vh;
          right:70vw
        }
      }
    }
