$pinkColor:rgb(255, 144, 246);
$greenColor:rgb(108, 255, 94);
$yellowColor:rgb(244, 255, 94);

.cardBox{
  position: absolute;
  top: 3500px;
  left: 90px;
  height:470px;
  width: 55vw;
  transition:all .2s;
  position: relative;
  overflow: hidden;
  &:hover {
    .workerBox{
      transition: all .5s 1s;
      transform: translateX(20vw)
    };
    .dress{
      .dressOne{
        transform: rotate(45deg) translate(70px,-400px);
      }
      .dressTwo{
        transform: rotate(45deg) translate(70px,-400px);
      }
      .dressThree{
        transform: rotate(45deg) translate(70px,-400px);
      }
      .dressFour{
        transform: rotate(45deg) translate(70px,-400px);
      }
    }
    .code{
      transition: all 1s 1.3s;
      opacity: 1;
    }
  }
  .code{
      position: absolute;
      top: 100px;
      left:4vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: .5s;
      img{
        height: 200px;
        width: 200px;
      }
      div{
        margin-top: 30px;
        font-family: 'SimHei';
        box-shadow: 0 0 5px 0 #03e9f4,0 0 25px 0 #03e9f4,0 0 50px 0 #03e9f4;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 45px;
        font-size: 23px;
        color: #fff;
      }
    }
  span{
    position: absolute;
  }
  .workerBox{
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
      position: absolute;
      top: 40px;
      left: 118px;
      height: 43px;
      width: 240px;
      transition:all .5s;
      text{
        fill: none;
        font-weight: 800;
        stroke: url(#carColor);
        font-size:40px;
        stroke-width:1;
        stroke-dasharray: 10 800;
        stroke-dashoffset: 10;
        animation: drawing 5s linear infinite;
        @keyframes drawing{
          to{
            stroke-dasharray: 800;
            stroke-dashoffset: 0;
          }
        }
      }
    }
    ul{
      color: #fdc780;
      transition:all .5s;
      position: absolute;
      top: 120px;
      left: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .workerlist{
        .worker{
          &:nth-child(1){
            animation: shineGreen 1s linear alternate infinite;
          }
          &:nth-child(2){
            animation: shineYellow 1s linear alternate infinite;
          }
          &:nth-child(3){
            animation: shineGreen 1s linear alternate infinite;
          }
        }
      }
      li{
        flex: 1;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .worker{
          margin-left: 1.5vw;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          transition: all .8s;
          animation: shineGPurple 1s linear alternate infinite;
          &:hover{
            height:70px;
            width:70px;
          }
        }

      }
      @keyframes shineGreen {
        0%{
          box-shadow: 0 0 5px 0 $greenColor,0 0 15px 0 $greenColor;
        }
        100%{
          box-shadow: 0 0 5px 0 $greenColor,0 0 15px 0 $greenColor,0 0 30px 0 $greenColor,0 0 45px 0 $greenColor;
        }
      }
      @keyframes shineYellow {
        0%{
          box-shadow: 0 0 5px 0 $yellowColor,0 0 15px 0 $yellowColor;
        }
        100%{
          box-shadow: 0 0 5px 0 $yellowColor,0 0 15px 0 $yellowColor,0 0 30px 0 $yellowColor,0 0 45px 0 $yellowColor;
        }
      }
      @keyframes shineGPurple{
        0%{
          box-shadow: 0 0 5px 0 $pinkColor,0 0 15px 0 $pinkColor;
        }
        100%{
          box-shadow: 0 0 5px 0 $pinkColor,0 0 15px 0 $pinkColor,0 0 30px 0 $pinkColor;
        }
      }
    }
  }
  .dress{
    div:nth-child(n){
      height: 420px;
      width: 60px;
      border-radius:35px;
    }
    .dressOne{
      position: absolute;
      top: -120px;
      right: 5vw;
      transform:rotate(45deg);
      transition:all .8s .4s;
      box-shadow: 0 0 10px 0 rgb(255, 170, 170),0 0 30px 0 rgb(255, 170, 170);
    }
    .dressTwo{
      position: absolute;
      top: 16px;
      right: 5vw;
      transform:rotate(45deg);
      transition:all .8s .6s;
      box-shadow: 0 0 10px 0 rgb(128, 255, 166),0 0 30px 0 rgb(128, 255, 166);
    }
    .dressThree{
      position: absolute;
      top: 80px;
      right:-2vw;
      transition:all .8s .2s;
      transform:rotate(45deg);
      box-shadow: 0 0 10px 0 rgb(144, 229, 255),0 0 30px 0 rgb(144, 229, 255);
    }
    .dressFour{
      position: absolute;
      top: -250px;
      right:5vw;
      transition:all .8s;
      transform:rotate(45deg);
      box-shadow: 0 0 10px 0 rgb(232, 255, 149),0 0 30px 0 rgb(232, 255, 149);
    }
  }
}
@media screen and (max-width:1200px) {
  .cardBox{
    width: 85vw;
    left:60px;
     .workerBox{
       ul{
         li{
           .worker{
             margin-left: 2.5vw;
           }
         }
       }
     }
  }
  .cardContainer{
    display: none;
  }
  .cardBox:hover{
    .workerBox{
      transform: translateX(32vw)
    }
    .code{
      transform: translateX(3.5vw);
    }
  }
}
@media screen and (max-width:800px) {
  .cardBox{
    left:40px;
  }
  .dress{
      display: none;
    }
    .workerBox{
      .title{
        transform:translateX(-20px)
      }
    }
    .cardBox:hover{
      .workerBox{
        .title{
          transition: all .5s;
          left: 150%;
        }
        ul{
          transition: all .5s;
          left: 150%;
        }

      }
      .code{
        transform: translateX(22vw);
        transition: all .5s;
      }
    }
}
@media screen and (max-width:415px) {
  .cardBox{
    left:10px;
    width: 95vw;
  }
  .workerBox{
    transform:translateX(-20px)
  }
}