// .cubecontainer{
//     position: absolute;
//     top: 2300px;
//     right: 20vw;
//     transition: all .2s;
//     .textcontainer{
//       position: absolute;
//       left:-45vw;
//       height: 440px;
//       width: 700px;
//       overflow: hidden;
//       color: #fff;
//       font-family: 'SimHei';
//       .more{
//         font-family: 'Arial';
//         position: absolute;
//         // width: 5vw;
//         padding: 1vh 0;
//         top: 26px;
//         right: 110px;
//         transition:all .2s;
//         text-align: center;
//         flex-direction: column;
//         .border{
//           height: 5vh;
//           width: 5vw;
//           top: 1vh;
//           .rectangle{
//             height: 5vh;
//             width: 5vw;
//             stroke-width: .7vh;
//             stroke: #03e9f4;
//             fill:transparent;
//             stroke-dasharray: 10vh 10vw;
//             stroke-dashoffset: 15vh;
//           }
//         }
//       .btn{
//         position: relative;
//         font-size:2vh;
//         left: .3vh;
//         top: -4.9vh;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         letter-spacing:.2vh;
//         img{
//           height: 2vh;
//           width: 2vh;
//           transform: rotate(-90deg);
//         }
//       }
//       &:hover{
//         .border{
//           transition: all .9s .1s;
//           background-color: #03e9f4;
//           .rectangle{
//             transition: all .5s;
//             stroke-dasharray: 20vw;
//             stroke-dashoffset: 0;
//           }
//           @keyframes extend {
//             to{
//               stroke-dasharray: 20vw;
//               stroke-dashoffset: 0;
//             }
//           }
//         }
//       }
//     }
//       span{
//         position: absolute;
//       }
//       .date{
//         top: 8vh;
//         left: 3vw;
//         font-size: 1.2vw;
//       }
//       .title{
//         top: 14vh;
//         left: 3vw;
//         font-size: 2.3vw;
//       }
//       .contentOne{
//         // background-color: #fff;
//         width:35vw;
//         top: 24vh;
//         left: 3vw;
//         font-size: 1.3vw;
//       }
//       .contentTwo{
//         // background-color: #fff;
//         width:34vw;
//         top: 30vh;
//         left: 3vw;
//         font-size: 1.3vw;
//       }
//       .contentThree{
//         // background-color: #fff;
//         width:26vw;
//         top: 36vh;
//         left: 3vw;
//         font-size: 1.3vw;
//       }
//     }
// }
// @media screen and (max-width:1350px){
//   .cubecontainer{
//     .textcontainer{
//       .more{
//         .border{
//           width: 7vw;
//           .rectangle{
//             width: 7vw;
//             fill:#03e9f4;
//           }
//         }
//       }
//     }
//   }
// }
// @media screen and (max-width:800px){
//   .cubecontainer{
//     right: -4vw;
//     .textcontainer{
//       .more{
//         .border{
//           width: 13vw;
//           .rectangle{
//             width: 13vw;
//             fill:#03e9f4;
//           }
//         }
//       }
//     }
//   }
// }

.cubecontainer{
    position: absolute;
    top: 2300px;
    left: 11vw;
    transition: all .2s;
    .cube{
      position: relative;
      left: 800px;
    }
    .textcontainer{
      position: absolute;
      height: 440px;
      width: 800px;
      overflow: hidden;
      color: #fff;
      font-family: 'SimHei';
      .more{
        font-family: 'Arial';
        position: absolute;
        padding: 5px 0;
        top: 26px;
        right: 127px;
        transition:all .2s;
        text-align: center;
        flex-direction: column;
        .border{
          height: 40px;
          width: 80px;

          .rectangle{
            height: 40px;
            width: 80px;
            stroke-width: 6px;
            stroke: #03e9f4;
            fill:transparent;
            stroke-dasharray: 75px 137px;
            stroke-dashoffset: 90px;
          }
        }
      .btn{
        position: relative;
        left: 2px;
        top: -38px;
        user-select: none;
        font-size:16px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing:1px;
        img{
          height: 16px;
          width: 16px;
          transform: rotate(-90deg);
        }
      }
      &:hover{
        .border{
          transition: all .9s .1s;
          background-color: #03e9f4;
          .rectangle{
            transition: all .5s;
            stroke-dasharray: 20vw;
            stroke-dashoffset: 0;
          }
          @keyframes extend {
            to{
              stroke-dasharray: 20vw;
              stroke-dashoffset: 0;
              }
            }
          }
        }
      }
      .text{
        position: absolute;
        left: 120px;
        top: 65px;
        width:520px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // background-color: #fff;
        li:nth-child(1){
          font-size: 18px;
          margin-bottom: 10px;
        }
        li:nth-child(2){
          font-size: 35px;
          margin-bottom: 20px;
        }
        li:nth-child(3){
          margin-bottom: 10px;
          font-size: 20px;
        }
        li:nth-child(4){
          font-size: 20px;
          margin-bottom: 10px;
        }
        li:nth-child(5){
          font-size: 20px;
        }
      }
    }
    .cover{
      position: absolute;
      left: 19.5vw;
      height: 40vh;
      width: 1vw;
      background-color: #000;
    }
}
@media screen and (max-width:1350px){
  .cubecontainer{
    left: 3vw;
  }
}
@media screen and (max-width:1050px){
  .cubecontainer{
    // left: -13vw;
    .cube{
      display: none;
    }
    .textcontainer{
      width: 90vw;
    }
  }
}
@media screen and (max-width:720px){
  .cubecontainer{
    // left: -13vw;
    .cube{
      display: none;
    }
    .textcontainer{
      width: 90vw;
      .text{
        left: 30px;
        width: 70vw;
      }
      .more{
        right: 40px;
      }
    }
  }
}