$blue:#03e9f4;
$red:rgb(255, 94, 0);
$lightBlue:rgb(96, 180, 248);
.bgc{
  width: 800px;
  padding-top: 350px;
  margin: 0 auto;
  color: #fff;
  font-family: 'SimHei'; 
  .title{
    font-size:40px;
    margin-bottom: 70px;
    color: $lightBlue;
  }
  .subtitle{
    color: $red;
    font-size: 30px;
    margin: 20px 0;
    display:flex;
    justify-content: flex-start;
  }
  .content{
    font-size:18px;
    display:flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;
    // position: absolute;
    li{
      margin-bottom: 5px;
      display:flex;
      align-items:flex-start;
      justify-content: center;
    }
    li:nth-child(1){
      color: $blue;
      font-size: 22px;
    }
  }
  .one{
    li:nth-child(1){
      color: $red;
      font-size: 30px;
      margin-bottom: 15px;
    }
  }
  table{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    &:hover{
      color: #000;
    }
    th{
      border: 1px solid #fff;
      background-color: #000;
      color: #fff;
      font-size:22px;
      font-weight: 500;
    }
    td{
      border: 1px solid #fff;
      font-size:18px;
      &:hover{
        color: #000;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .bgc{
    width: 90%;
  }
}